* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.img {
	max-height: 100%;
}

ul > li {
	padding-top: 27px;
}

/*desktop*/
@media (min-width: 768px) {

.navbar-brand {
	margin-top: 18px;
	padding: 0px;
}

.img {
	margin-left: 18px;
}

.carousel-inner img {
	margin: auto;
}

}
