* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*header: DRINK OR FLY*/

.headerpic {
	margin-top: 60px;
	margin-left: 45px;
	width: 70%;
}

/*NAVIGATION BAR*/
.navbar {
  height: 50px;
  background: white; 
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
  border-color: transparent;
}

.navbar.shrink {
  transition: all ease .5s;
  background: rgba(193,193,193,.7);
}

.img {
	max-height: 160%;
}

ul > li {
	font-family: 'Spectral SC', serif;
	background-color: rgba(193,193,193,.9);
	border-style: solid;
	border-color: rgba(220,220,220,.9);
}

.page-header {
	font-family: 'Spectral SC', serif;
}

h3	{
	margin-bottom: 0;
}

.date {
	font-size: 12px;
}

.btn {
	color: black;
	font-size: .7em;
}

.icons-sm {
	color: black;
	padding: 5px;
	vertical-align: middle;
	font-size: .7em;
}

.col-sm-8 {
	text-align: justify;
	font-family: 'Spectral SC', serif;
}

.col-sm-4 {
	text-align: center;
	font-family: 'Spectral SC', serif;
}

img {
	max-width: 100%;
}

.imgrate {
	max-width: 40%;
}

.footer {
	margin-top: 20px;
}

.copy {
	font-size: 10px;
	font-family: 'Spectral SC', serif;
	margin-bottom: 0;
}

/*desktop*/
@media (min-width: 768px) {

/* navigation bar */
.navbar {
  height: 50px;
  background: white; 
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
  border-color: transparent;
}

.navbar.shrink {
  transition: all ease .5s;
  background: rgba(193,193,193,.7);
  
}

ul > li {
	font-family: 'Spectral SC', serif;
	background-color: rgba(193,193,193,0.1);
	border-style: none;
	border-color: rgba(193,193,193,.1);
}

li {
	text-align: center;
	font-family: 'Spectral SC', serif;
}


/* header: DRINK OR FLY */
.headerpic {
	margin-top: 150px;
	margin-left: 345px;
	margin-bottom: 100px;
	width: 50%;

}

.navbar-brand {
	margin-top: 18px;
	padding: 0px;
}

.img {
	margin-left: 18px;
	max-height: 110%
}

.icons-sm {
	color: black;
	padding: 15px;
	vertical-align: middle;
	font-size: 3em;
}