* {
	box-sizing: border-box;
}

/* removes default margin to document */
body {
	margin: 0;
}

.about,
.services,
.projects,
.gallery,
.footer {
	padding: 100px;
}


h1 {
	color: #9DA1AA;
	font-family: 'Open Sans Condensed', sans-serif;
}
h2,
h3{
	color: #DCE5EC;
	font-family: 'Open Sans Condensed', sans-serif;
}


p {
	color: #9DA1AA;
	font-family: 'Open Sans Condensed', sans-serif;
}

/*navigation*/

.logo {
	width: 140px;
	height: 140px;
}

.img {
	width: 70px;
	height: 70px;
}

.nav {
	background-color: #fff;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 999;
	
}

ul {
	margin: 0;
	padding-left: 0;
}

ul > li {
	list-style: none;
	/*background-color: #dce5ec;*/
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	display: inline;
	/*line-height: 48px;*/
	padding: 40px;
	
}

ul > li > a {
	text-decoration: none;
}
/*/.nav*/

/*main*/
.main {
	background-color: #fff;
	/*margin-left: 200px;*/
}

.img2 {
	width: 700px;
}


.banner {
	background-color: #fff;
	position: relative;
	min-height: 700px;
	top: 100px;
}

.box {
	border: 5px solid #F4F2F3;
	text-align: center;
	width: 60%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*about*/
.about {
	background-color: #fff;
	min-height: 300px;
}

.img3 {
	float: right;
	width: 250px;
}


/*services*/

.column {
	border: 3px solid #DCE5EC;
	width: 31%;
	margin-left: 1.16%;
	margin-right: 1.16%;
	float: left;
}

.img4 {
	width: 100%;

}

.clear:after {
	content: "";
	display: block;
	clear: both;
}