* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.img {
	background-color: #000;
	width: 700px;
	height: auto;
	padding: 10px;
}

.img2 {
	background-color: #000;
	width: 500px;
	height: auto;
	padding: 10px;
}

/*First Image*/
.box {
	height: 150px;
	width: 150px;
	background-color: grey;
	float: left;
	margin: 10px;
}

/*Second Image*/

/*white border container - Second Image*/
.caption {
	border-color: white;
	border-style: solid;
	margin: 10px 1.16%;
	float: left;
	padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;

}

.box2 {
	height: 150px;
	width: 150px;
	background-color: grey;
	margin-top: 0;
	margin-bottom: 20px;
	float: left;
	padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.text {
	color: #fff;
	text-align: center;
	
}

/*third image*/
h1 {
	color: #fff;
}

.box3 {
	height: 150px;
	width: 150px;
	background-color: grey;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.text2 {
	color: #fff;
	text-align: justify;
	padding-top: 10px;
}

/*fourth image*/

h2 {
	color: #fff;
	margin-bottom: 10px;
}

/*to display the paragraphs on the right side of the box*/
#content {
	display: table-row;
}

.text3 {
	color: #fff;
	text-align: justify;
	font-style: italic;
	padding-bottom: 10px;
}


.box4 {
	height: 150px;
	width: 150px;
	background-color: grey;
	margin-right: 10px;
	float: left;
}

/*fifth image*/

.box5 {
	height: 50px;
	width: 50px;
	background-color: grey;
	float: left;
	margin-right: 10px;
}

textarea {
	width: 619px;
	height: 120px;
}

input {
	float: right;
	margin: 2px;
}

/*sixth image*/

.text4 {
	color: #fff;
	text-align: justify;
	font-style: italic;
	margin: 10px;
	margin-left: 0;
}

.username {
	color: #fff;
}

.comment {
	padding-left: 10px;
}

.box6 {
	height: 50px;
	width: 50px;
	background-color: grey;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
.com {
	position: relative;
	float: right;
	margin-left: 60px;
	margin-top: 10px;
	border-left-style: solid;
	border-left-color: #fff;
}


/*seventh image*/
.box7 {
	height: 100px;
	width: 200px;
	background-color: grey;
	float: left;
	margin-right: 10px;
}

h4 {
	color: #fff;
}

.text5{
	color: grey;
	font-size: 14px;
}

/*eight image*/
.box8 {
	height: 100px;
	width: 200px;
	background-color: grey;
	float: right;
	margin-left: 10px;
}

/*ninth image*/
.text6 {
	color: #FFF;
	text-align: right;
}

.boxes {
	float: left;
}


/*clears floats*/
.clear:after {
	content: ""; 
	clear: both;
	display: block;
}

