/**
 * General Rules
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
      text-decoration: none;
      color: white;
      opacity: .5;
}
a:hover {
      text-decoration: none;
      color: darkgrey;
  }
h3 {
      margin-top: 0px;
} 

body, html {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

.red {
	color: #534b48;
}

.blue {
	color: blue;
}

/* INTRO PAGE */
.intro {
	margin: auto;
	background: url("../img/bg2.jpg") no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.header {
	top: 50%;
	left: 50%;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
}

.header h1 {
	/*font-family: 'Cinzel Decorative', cursive;*/
	font-size: 4em;
	color: #505156;
}

.header p {
	font-size: 2em;

}


/* ABOUT ME */
#education {
	/*font-family: 'Raleway', sans-serif;*/
	display: table;
	top: 0;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: 10px;
	padding: 5px;		
}

.col-sm-6 {
	padding: 1%;
}

.school {
	margin: 5px;
	padding: 3px;
	/*background-color: gray;*/
	/*border-style: solid;*/
	/*border-bottom: solid 2px;*/

}

.school img {
	border-radius: 50%;
	width: 10%;
	float: left;
	clear: all;
	/*padding: 5px;*/
}

.school h4 {
	margin: 0 auto;
}

.text-muted {
	margin: 0 auto;
}

.container {
	width: 90%;
	background-color: gray;
	margin: 5px;
	color: white;
}

.skills p {
	clear: all;
}

.finance {
	width: 98%;
	background-color: #534b48;
}

.accounting {
	width: 95%;
	background-color: #534b48;
}

.tax {
	width: 95%;
	background-color: #534b48;
}

.law {
	width: 90%;
	background-color: #534b48;
}

.management {
	width: 100%;
	background-color: #534b48;
}

.html {
	width: 90%;
	background-color: darkblue;
}

.css {
	width: 90%;
	background-color: darkblue;
}

.boot {
	width: 80%;
	background-color: darkblue;
}

.php {
	width: 70%;
	background-color: darkblue;
}

.js {
	width: 50%;
	background-color: darkblue;
}

.jq {
	width: 60%;
	background-color: darkblue;
}

.laravel {
	width: 90%;
	background-color: darkblue;
}

.boxed-item1 {
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px gray;
	box-sizing: border-box;
	font-size: 15px;
	color: gray;

}

.boxed-item1:hover {
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px gray;
	box-sizing: border-box;
	font-size: 15px;
	color: white;
	cursor: pointer;
	background-color: gray;
	
}

#background {
	margin: auto;
	display: table;
	top: 0;
	background-size: cover;
	height: 100%;
	width: 100%;		
}

#projects {
	/*background-color: lightgrey;*/
	margin: auto;
	/*font-family: 'Playfair Display', serif;*/
	display: table;
	top: 0;
	background-size: cover;
	height: 100%;
	width: 100%;		
}


.home {
	width: 70%;
	opacity: 1;
	display: block;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	margin: 0 auto;
	border: solid 1px black;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, 50%);
	text-align: center;
	font-size: 20px;
	color: black;
}

.middle a {
	color: black;
}


.col-sm-4:hover .home {
	opacity: .2;
	/*color: darkgrey;*/
}

.col-sm-4:hover .middle {
	opacity: 1;
}

/* NAVIGATION BAR - RESPONSIVE */

.fa {
	padding: 10px;
    font-size: 3em;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

ul {
  list-style-type: none;
}

.headshot{
	opacity: .5;
	background: linear-gradient(
      rgba(0,0,0,.5), 
      rgba(0,0,0,.5)
    );
	border-radius: 50%;
	width: 50%;
	margin: 0 auto;	
}

.logo {
	font-weight: 200;
	text-align: center;

}
.toggle-menu {
	font-family: 'Cinzel Decorative', cursive;
	position: fixed;
	padding: 15px 20px 15px 15px;
	margin-top: 10px;
	color: white;
	cursor: pointer;
	background-color: grey;
	/*z-index: 10000000000;*/
	font-size: 1.5em;
	opacity: .8;
}

.fa-times {
	right: 10px;
	top: 10px;
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	color: white;
	transition: all 0.3s ease-in-out;
}

.fa-times:hover {
	opacity: 1;
}

.socials {
	font-size: 20px;
}

.navigation-selection {
	margin: 0 auto;
	display: block;
	width: 200px;
	margin-left: 13px;
}

.boxed-item {
	font-family: 'Didact Gothic', sans-serif;
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 20px;
	color: white;
	text-align: center;
	margin-top: 40px;
}

.boxed-item-smaller {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 15px;
	width: 220px;
	transition: all 0.3s ease-in-out;
	border-width: 1px;
	margin: 10px 0 20px 0;
}

.hide-menu {
	margin-left: -250px;
}

.opacity-one {
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.wrapper {
    transition: margin-left .5s;
    /*padding: 20px;*/
}

/* FOOTER */
.footer > p {
  opacity: 0.1;
  color: white;
  font-size: 12px;

}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 480px) {
	
}



